<div class="login-container">
    <div class="feedback-message">{{ message }}</div>
    <form (submit)="login()">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="authRequest.username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="authRequest.password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <a class="nav-register" href="/register"><button>Register</button></a>
</div>