<div class="register-container">
    <div class="feedback-message">{{ message }}</div>
    <form (submit)="register()">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="registerRequest.username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="registerRequest.password" required>
        </div>
        <button type="submit">Register</button>
    </form>
    <a class="nav-login" href="/login"><button>Login</button></a>
</div>
